@use '../../assets/webColors.scss' as *;

.Header {
  background-image: url('/header-bg.png');
  background-size: cover;
  height: 850px;
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    color: $white;
    padding: 80px 0;

    nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 43px;

        li {
          cursor: pointer;
          transition: 150ms;

          &:hover {
            opacity: 0.7;
          }

          &.active {
            opacity: 0.3;
          }

          font-size: 18px;
        }

      }
    }

    .slick-slider {
      .slick-dots {
        bottom: -65px;

        li {
          button {
            &::before {
              color: $white;
              font-size: 10px;
            }
          }
        }
      }

      .slick-arrow {
        opacity: 0.6;
        transition: 150ms;

        &:hover {
          opacity: 0.9;
        }

        &.slick-prev {
          top: 90px;

          &::before {
            font-size: 50px;
            content: "\2039";
          }
        }

        &.slick-next {
          top: 90px;

          &::before {
            font-size: 50px;
            content: "\203A";
          }
        }
      }

      width: 83%;
      margin: 0 auto;
      text-align: center;
      margin-top: 40px;

      .Information {
        margin: 0 auto;
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 28px;
        flex-direction: column;
        width: 65% !important;

        h1 {
          font-size: 72px;
        }

        p {
          font-size: 22px;
        }

        span {
          font-size: 24px;
        }
      }
    }

    .headerButton {
      cursor: pointer;
      padding: 17px 35px;
      background-color: $purple-btn;
      line-height: 26px;
      align-self: center;
      color: $white;
      border-radius: 100px;
      border: none;
      font-size: 18px;
      transition: 100ms;

      &:hover {
        background-color: $purple-btn-hover;
      }

      &:active {
        outline: 2px solid $white;
      }
    }
  }
}