$white: #ffffff;
$bg-dark: #1E0E62;
$bg-light: #2F1893;
$purple-btn: #482BE7;
$purple-btn-hover: #3c21d5;
$blue-btn: #1DA1F2;
$blue-btn-hover: #1894e1;
$green-btn: #25DAC5;
$green-btn-hover: #18b4a1;
$red-btn: #EA3223;
$red-btn-hover: #d62a1a;
$pink-btn: #E93A7D;
$pink-btn-hover: #d63170;
$text-light:#868686;